Repository vivaluxo37/Brokeranalysisgooglestudio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --check

Update development environment configuration and performance monitoring
  .env
  components/seo/PerformanceMonitor.tsx
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --check

fix: add scheduler to React vendor bundle to prevent circular dependencies
  vite.config.ts
Due: eslint --max-warnings=0, prettier --check

fix: disable service worker registration temporarily
  index.tsx
Due: eslint --max-warnings=0, prettier --check

fix: resolve missing imports and component issues
  components/error/index.tsx
  index.tsx
  pages/best-brokers/[category]/index.tsx
  pages/best-forex-brokers/[country]/index.tsx
  pages/brokers.tsx
  pages/countries/index.tsx
Due: eslint --max-warnings=0, prettier --check

fix: resolve all remaining build errors
  index.tsx
  services/aiProviders.ts
  utils/hookValidation.ts
Due: eslint --max-warnings=0, prettier --check

fix: skip optional dependencies to resolve Netlify build error
  .npmrc
Due: none

fix: resolve platform-specific package issues for Netlify
  .npmrc
  package-lock.json
  vite.config.ts
Due: eslint --max-warnings=0, prettier --check

fix: resolve Netlify deployment platform-specific dependency issues
  .env.production
  .netlify/netlify.toml
  .netlify/plugins/package-lock.json
  .netlify/plugins/package.json
  .netlify/state.json
  .vercel/README.txt
  .vercel/project.json
  netlify.toml
  package-lock.json
  package.json
Due: prettier --check

fix: resolve netlify.toml syntax errors
  netlify.toml
Due: none

fix: resolve Netlify build failures with Node version and build command
  .nvmrc
  netlify.toml
Due: none

fix: update Node.js version to 20 for Netlify deployment
  .nvmrc
  netlify.toml
  package.json
Due: prettier --check

fix: update Node.js to v20.18.1 for cheerio compatibility
  .nvmrc
  netlify.toml
Due: none

fix: resolve rollup Linux binary issue for Netlify deployment
  .gitignore
  netlify.toml
  scripts/netlify-build.sh
Due: none

fix: resolve all case-sensitive import issues for Netlify build
  pages/AdvancedScreeningPage.tsx
  pages/AiTutorPage.tsx
  pages/AllBrokersPage.tsx
  pages/AuthorPage.tsx
  pages/BlogPostPage.tsx
  pages/BrokerDetailPage.tsx
  pages/BrokerDetailPageTemplate.tsx
  pages/BrokerDuelPage.tsx
  pages/BrokerMatcherPage.tsx
  pages/BrokerPromotionsPage.tsx
  pages/CalculatorsPage.tsx
  pages/ComparePage.tsx
  pages/CostAnalyzerPage.tsx
  pages/DashboardPage.tsx
  pages/EducationHubPage.tsx
  pages/HomePage.tsx
  pages/LoginPage.tsx
  pages/MarketNewsPage.tsx
  pages/MethodologyPage.tsx
  pages/NotFoundPage.tsx
  pages/OrderExecutionSimulatorPage.tsx
  pages/QuizzesPage.tsx
  pages/RegisterPage.tsx
  pages/SimulatorsPage.tsx
  pages/SourcesPage.tsx
  pages/TradingJournalPage.tsx
  pages/WebinarsPage.tsx
  scripts/fix-imports.ps1
  scripts/fix-src-imports.ps1
  src/components/BrokerCard.test.tsx
  src/pages/BrokerListing.integration.test.tsx
  src/pages/CategoryPage.tsx
  src/pages/CountryPage.tsx
  src/pages/EnhancedCategoryPage.tsx
  src/pages/admin/ActivityLogs.tsx
  src/pages/admin/AdminDashboard.tsx
  src/pages/admin/AdminLogin.tsx
  src/pages/admin/RankingWeights.tsx
  src/pages/admin/VerificationManagement.tsx
Due: eslint --max-warnings=0, prettier --check

fix: resolve case-sensitive import in ProgrammaticSEOGenerator.tsx
  components/seo/ProgrammaticSEOGenerator.tsx
Due: eslint --max-warnings=0, prettier --check

fix: resolve case-sensitive import in ComparisonBar.tsx
  components/common/ComparisonBar.tsx
Due: eslint --max-warnings=0, prettier --check

fix: resolve case-sensitive imports in QuizComponent.tsx
  components/common/QuizComponent.tsx
Due: eslint --max-warnings=0, prettier --check

fix: resolve dev server HMR issues and AI chatbot errors
  App.tsx
  api/proxy-server.js
  contexts/ComparisonContext.tsx
  index.tsx
  package-lock.json
  package.json
  scripts/dev-redirect.cjs
  services/backendService.ts
  services/liveDataService.ts
  services/structuredDataGenerator.ts
  src/polyfills/set-cookie-parser-fix.ts
  vite.config.no-hmr.ts
  vite.config.stable.ts
  vite.config.ts
Due: eslint --max-warnings=0, prettier --check

fix: resolve case-sensitive import issues for Netlify deployment
  components/brokers/BrokerQuickViewModal.tsx
  components/seo/GenerativeEngineSEO.tsx
  components/seo/SEOAnalyticsDashboard.tsx
  components/seo/SEOChecklist.tsx
  components/seo/SEOInsights.tsx
Due: eslint --max-warnings=0, prettier --check

fix: simplify Netlify build configuration and fix Node version mismatch
  .nvmrc
  scripts/netlify-build.sh
Due: none

feat: enhance Netlify build configuration with CI optimizations
  package.json
  scripts/netlify-build.sh
Due: prettier --check

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx}
  prettier --check: any of: *.{ts,tsx,js,jsx,json,css,md}
